In [1]:
import pandas as pd

## Reading Data

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  101.642258         1   93          0           0              1
1   99.410956         1   18          0           1              0
2  100.848456         1   17          1          -1              1
3  101.778204         1   67          1           0              0
4   99.184455         1   96          0           1              0

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570  100.074521         0   65          0          -1              1
2571  100.101995         0   97          0          -1              0
2572   99.606396         0    3          1           1              1
2573  100.251997         0   82          0          -1              0
2574   99.488305         0   91          0          -1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   float64
 1   bodyPain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runnyNose      2575 non-null   int64
 4   diffBreath     2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [6]:
df['diffBreath'].value_counts()

 0    901
 1    850
-1    824
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,99.991702,0.490097,50.579806,0.509126,0.010097,0.503689
std,1.148284,0.499999,28.995936,0.500014,0.806379,0.500084
min,98.000048,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.004424,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.976922,0.000000,51.000000,1.000000,0.000000,1.000000
75%,100.988691,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.998873,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [8]:
import numpy as np

In [23]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data) * ratio)
    test_indices=shuffled[:test_set_size] # All rows and test set size columns
    train_indices=shuffled[test_set_size:] # Basic Slicing 
    return data.iloc[train_indices], data.iloc[test_indices]

In [24]:
np.random.permutation(7)

array([4, 6, 2, 0, 5, 1, 3])

In [25]:
train, test = data_split(df, 0.2)

In [26]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1703  101.525562         1   54          0           1              1
1675   99.167828         1   38          1           1              0
1518  101.429932         0    7          1           1              1
361    98.277567         1   53          1          -1              1
1544  101.951441         0   44          1          -1              0
...          ...       ...  ...        ...         ...            ...
1638  100.253149         0   51          0           0              1
1095  100.024611         1   29          0          -1              1
1130   99.460475         1   21          0          -1              0
1294   98.672652         1   38          1           0              0
860    99.677406         0   50          0          -1              1

[2060 rows x 6 columns]

In [27]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1644   98.144679         0   25          1           1              0
1189   99.834642         0   37          1           0              0
495    99.455676         1   54          0           1              1
1656   99.478750         1   36          1           0              0
651   100.945583         0   24          0           0              1
...          ...       ...  ...        ...         ...            ...
1627  101.932345         0   75          1          -1              1
471    99.063728         0   43          0           0              0
700   101.587925         1   14          1           0              0
25     98.005629         0   16          0          -1              0
755   101.087302         0   75          1           1              1

[515 rows x 6 columns]

In [42]:
x_train=train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
x_test=test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [43]:
y_train=train[['infectionProb']].to_numpy().reshape(2060,)
y_test=test[['infectionProb']].to_numpy().reshape(515,)

In [44]:
y_train

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

In [45]:
from sklearn.linear_model import LogisticRegression

In [46]:
clf=LogisticRegression()
clf.fit(x_train, y_train)

LogisticRegression()

In [55]:
inputFeatures = [102,1,22,-1,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [56]:
infProb

0.5365855682805711